<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li class="dropdown">
            <a href="#">Books</a>
            <ul class="dropdown-content">
                <li class="drop-title">Display By:</li>
                <li><a href="/title">Title</a></li>
                <li><a href="/author">Author</a></li>
                <li><a href="/branch">Branch</a></li>
                <li><a href="/genre">Genre</a></li>
            </ul>
        <li class="dropdown">
            <a href="#">Branches</a>
            <ul class="dropdown-content">
                <li><a href="/branch/new">Add a Branch</a></li>
                <li><a href="/branch">View Branches</a></li>
            </ul>
        </li>
        </li>
    </ul>
</nav>