<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory</title>
    <link rel="stylesheet" href="/navbar.css">
</head>
<body>
    <%- include("partials/navbar")%>
    <h1>Inventory Home</h1>
    <p>This is a sample inventory application for a bookstore franchise.</p>
    <p>This application can be utilized for behind the scenes product inventory tracking and supply chain management or it can be modified and incorporated into a customer facing web catalog to browse for book availability. </p>
    <br>
    <p>You can get started by hovering over Books and then choose how you want to find books by title, author, genre or branch location. Or instead you can search for a specific item below in the search bar tool.</p>
    <br>
    <p>Search bar coming soon</p>

</body>
</html>