<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory</title>
</head>
<body>
    <h1>Inventory Home</h1>
    <% if (books) { %>
        <p>There are books in your database</p>
    <%} else {%>
        <p>There are no books. sad</p>
    <%}%>
</body>
</html>